@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;900&family=Space+Mono&display=swap");

body {
  background-color: #222426;
  font-family: Lexend Deca;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.header-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.logo-header {
  display: flex;
  align-items: center;
}
.logo-header img {
  padding-right: 10px;
}
.hamburger {
  display: none;
}

.nav-bar {
  display: flex;
}

.nav-bar ul {
  display: flex;
}
li {
  display: inline-block;
  margin-left: 30px;
  color: white;
  font-size: 16px;
}
.academy-wrap {
  display: flex;
  padding-top: 50px;
  margin-top: 70px;
  padding-left: 30px;
}

.academy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 50px;
  color: white;
  font-size: 24px;
}

.academy-container h2 {
  font-size: 50px;
}

.container1 {
  display: flex;
  flex-direction: column;
}
.logo-academy {
  position: absolute;
  top: -130px;
  left: -170px;
  margin-top: 30px;
  margin-bottom: 50px;
  transform: scale(0.17);
}

.academy-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.academy-button {
  background-color: #222426;
  border: 3px solid white;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
}
.zapisz-sie-na-kurs {
  background-color: white;
  color: #222426;
}
.czy-to-dla-ciebie {
  color: white;
}
.enroll-wrap {
  background-color: #f64746;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
}

.enroll-line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.enroll-text {
  width: 35%;
}
h1 {
  font-size: 90px;
  font-weight: 900;
  width: 40%;
  margin: 0;
  margin-top: 50px;
}
.arrow {
  width: 25%;
  margin-left: 10px;
  margin-right: 10px;
}
.enroll-link a {
  font-size: 28px;
  font-weight: 800;
  text-decoration: none;
  color: black;
}
.underline-enroll {
  border: 1px solid black;
  height: 2px;
}

.contact-wrap {
  background-color: white;
  display: flex;
  justify-content: center;
}

.contact-title {
  width: 50%;
  padding: 30px;
  padding-right: 50px;
  box-sizing: border-box;
  margin-top: 50px;
}

.contact-title h3 {
  font-size: 45px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0;
}
.contact-title p {
  font-size: 14px;
  padding-top: 10px;
}
.contact-form {
  width: 50%;
  padding: 30px;
  display: flex;

  margin: 40px 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  box-sizing: border-box;
}
.input-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 40px;
}
.input-wrapper input {
  border: 2px solid #222426;
  box-sizing: border-box;
  height: 45px;
  flex-grow: 1;
}
.contact-form label {
  position: absolute;
  padding-left: 15px;
  font-size: 10x;
  font-weight: 700;
  top: -22px;
  left: -14px;
}

.input-wrapper select {
  border: 2px solid #222426;
  box-sizing: border-box;
  height: 45px;
  flex-grow: 1;
}
.name-group {
  display: flex;
}
.name-group .input-wrapper {
  flex-grow: 1;
}
.name-group .input-wrapper:first-of-type {
  margin-right: 15px;
}
.phone-level-group {
  display: flex;
}

.phone-level-group .input-wrapper {
  flex-grow: 1;
}
.phone-level-group .input-wrapper:first-of-type {
  margin-right: 15px;
}

.contact-button {
  background-color: #222426;
  color: white;
  border: none;
  height: 50px;
  font-weight: 800;
  font-size: 20px;
  font-family: Lexend Deca;
}
.details-wrap {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.details-wrap h3 {
  font-weight: 900;
  font-size: 50px;
  width: 40%;
  color: white;
}
.description {
  display: flex;
}
.nauka {
  width: 50%;
}
.mentoring {
  width: 50%;
}

.description-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 120px;
}
.description-box ul {
  padding: 0px;
  display: block;
  list-style-type: disc;
}
.description-box li {
  margin-left: 0;
  font-weight: 900;
  display: block;
}
.description-box p {
  font-weight: 300;
}
hr {
  width: 100%;
}
.description-box h5 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
span {
  font-family: Space Mono;
}
.czytaj {
  width: fit-content;
  color: white;
  font-size: 24px;
}
.czytaj div {
  border: 1px solid white;
  height: 2px;
  margin-top: 0;
}
.czytaj h4 {
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .header-wrap {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 600px) {
  .hamburger {
    display: flex;
    align-self: flex-end;
  }
}
@media only screen and (max-width: 600px) {
  .nav-bar {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .academy-wrap {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .academy-animation {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .academy-container {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .academy-container h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .enroll-line {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 600px) {
  .contact-wrap {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .contact-title {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .contact-form {
    width: 100%;
    padding-left: 30px;
  }
}
@media only screen and (max-width: 1040px) {
  #level-label {
    top: -40px;
  }
}
@media only screen and (max-width: 600px) {
  .name-group {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .phone-level-group {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .name-group .input-wrapper:first-of-type {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .phone-level-group .input-wrapper:first-of-type {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .description {
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .nauka {
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .mentoring {
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .description-box {
    width: 100%;
    margin-right: 0px;
  }
}
